mixin review(author, avatarSrc, date, content, cls)
    figure.review(class= `${cls}`)
        figcaption.author 
            img.author__avatar(src=require(`../../images/${avatarSrc}`), alt=`${author}`)
            p.text.author__name= author
            time.text.review__date= date
        .review__likes
            block likes
        blockquote.text.review__content= content