mixin dropdawn(id, label, cls='', position)
    .dropdawn(class=`${cls}`)
        label.dropdawn__title.title-3= label
        button.text.dropdawn__btn(id=`${id}` onclick="show()" type="button") CONTENT 
        .dropdawn__content(id=`${id}`+ 'Content', class= `${position}` == 'r' ? 'dropdawn__content_right' : 'dropdawn__content_left')
            block