mixin rating(id, rate, disable= '', cls='')
    .rating(class= type != 'disabled' ? cls + ' active' : cls)
        each star in [5, 4, 3, 2, 1]
            input(
                type="radio", 
                name= `${id}`, 
                id=`${id + star}`, 
                disabled= disable === 'disabled' ? true : false, 
                checked= star === rate ? true : false)
            label.rating__star(for=`${id + star}`)