mixin toggle(label, name='toggel', cls, chk)
    .toggle 
        input(type="checkbox" name=`${name}` id=`${name}`, class=`${cls}`, checked= `${chk}` == 'c' ? true : false)
        label.toggle__label.text.toggle__custom(for=`${name}`)= label
