mixin toggle(label, name='toggel', cls, chk)
    .toggle(class= `${cls}`)
        input(type="checkbox" name=`${name}` id=`${name}`, checked= `${chk}` == 'c' ? true : false)
        label.toggle__label.text.toggle__custom(for=`${name}`)= label
